---
layout: default
section: blog
---

<article>
	<h1>{{page.title}}</h1><span class="date">{{page.date | date:"%b %d"}}</span>
	{% if page.splash %}
	{% if page.splash contains 'http' %}
	{% capture url %}{{page.splash}}{% endcapture %}
	{% else %}
	{% capture url %}{{site.baseurl}}{{page.splash}}/{% endcapture %}
	{% endif %}
	<img src="{{url}}" alt=''/>
	{% endif %}
	<div class="prose">
		{{content}}
	</div>

	{% if page.stravaId %}
	<iframe height='500'
			width='100%'
			frameborder='0'
			allowtransparency='true'
			scrolling='no'
			src='https://www.strava.com/activities/{{page.stravaId}}/embed/c5348462ad4b1b044d062bdd3ecff822ba2cb455'>
	</iframe>
	{% endif %}

</article>


{% include footer.html %}